 <!-- Forms -->
 <div class="center">
  <div>
    <form class="flex flex-column" [formGroup]="formPuesto" (submit)="UpdateData()" >

      <div class="grid col-2">
        <mat-form-field appearance="outline">
          <mat-label>ID</mat-label>
          <input matInput placeholder="ID" formControlName="id">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="nombre">
        </mat-form-field>
      </div>

      <button type="submit" mat-raised-button color="accent">Enviar</button>
    </form>
  </div>
</div>
